:root {
  --primary-light: #bfdbc6;
  --primary: #58e07a;
  --primary-dark: #07ed41;
  
  --white: #FFFFFF;
  --greyLight-1: #e4f5e4;
  --greyLight-2: #c8e7c8;
  --greyLight-3: #bee4c4;
  --greyDark: #a1cf9b;
}

